#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
socket=/data/mysql/mysql.sock

[mysqld]
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character_set_server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake=true
socket=/data/mysql/mysql.sock
datadir=/data/mysql/
expire_logs_days = 10
max_connections = 5000

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

